@font-face {
    font-family: 'pacifico';
    src: url('/static/font/pacifico/pacificopacifico-webfont.eot');
    src: url('/static/font/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('/static/font/pacifico/pacifico-webfont.woff') format('woff'), url('/static/font/pacifico/pacifico-webfont.ttf') format('truetype'), url('/static/font/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    min-height: 400px;
    overflow: hidden;
}
.footer {
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
html, body {
    height: 100%;
}
.container-fluid, .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px;
    /* or 1600px */
}
.text-center {
    text-align: center;
}
.navbar-brand {
    font-family: 'pacifico', helvetica, sans-serif;
    font-size: 175%;
    padding-bottom: 31px;
}
.nav .album-art {
    margin-top: -5px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.album-art {
    display: inline;
    overflow: hidden;
}
/*Dat red: #d9230f */
/*Dat grey: #474949*/

.metadata {
font-size: 65%;

}
.nav .metadata {
    text-align: right;
}
.music-queue .metadata {
    padding-top: -10px;
}
.music-data {
    display: inline;
    line-height: 150%;
    text-align: center;
}
.song-name {
    color: #d9230f;
    font-size: 130%;
}
.votes {
    text-align: center;
    display: block;
}
.thumbCount{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}
.icon {
    font-size: 250%;
}
.icon:hover[data-voted="false"]{
    margin-top: -5px;
    margin-left: -.75px;
    margin-right: -.75px;
    color: red;
    font-size: 275%;
}
.icon:hover[data-voted="true"]{
    color: grey;
}
.icon[data-voted="true"] {
    color: red;
}
.thumbCountNum {
    font-size: 150%;
}
.deleteButton {
    float: right;
    font-size: 175%;
}
.deleteButton:hover {
    font-size: 200%;
    color: red;
}
/*li > .badge {
    background-color: #474949;
    padding: 10px 10px;
}*/

.list-group-item .album-art {
    width: 30px;
    height: 30px;
}

.list-group .music-queue {}

.enter-buttons{
   padding-top: 50%;
}

.info-area {
   -webkit-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
}

.button-area {
   -webkit-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
}


/*SVG Hero*/
#svg-canvas {
    text-align: center;
}
svg {
   display: block;
   max-width: 950px;
   max-height: 400px;
   overflow: hidden;
}
.svg-area {
    margin: 0 auto;
    position: relative;
    left: 25%;
    overflow: hidden;
} 

svg path {
   stroke-linecap:round;
   stroke-linejoin:round;
}
