{% extends "base.html" %} {% block content %}
<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
  </div>
  <br><br>
  
    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">

          <img class="featurette-image img-responsive center-block" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/551682_336750553084539_646619314_n.jpg?oh=841e35785d6de5257ab4f814cd999ecc&oe=55C5BAD9&__gda__=1443149832_39cc292e24fd2c733e65b823017124e3" alt="Generic placeholder image">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">

          <img class="featurette-image img-responsive center-block" src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/s720x720/1461143_737116592970643_1486605419_n.jpg?oh=fe87590ac086520ae1aaff0a8c21f2ff&oe=5603FBAC" alt="Generic placeholder image">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">

          <img class="featurette-image img-responsive center-block" src="https://scontent-ord.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11109718_10203865233380449_7526962931302347651_n.jpg?oh=59899399e43f2a3c83bbe7ebba7e9f28&oe=55FEE5A9" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://scontent-ord.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/431798_590739924291977_1012942671_n.jpg?oh=2d8df85fa65f961a8f7f40c58ca7d005&oe=560DB928" alt="Generic placeholder image">

        </div>
      </div>

      <hr class="featurette-divider">

</div>

{% endblock content %}
