<html>

<head>
  <title>vynl</title>
  <!-- LoadFirst -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!--Stylesheets-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

  <!--Mobile Optimization-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!--Favicons & Icons-->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/img/favicons/manifest.json">
  <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Vynl">
  <meta name="application-name" content="Vynl">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/static/img/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  {% block head %}
  {% endblock head %}

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand" href="/">Vynl</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          {% block nav %}
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!--<li><a href="/contact">Contact</a></li>-->
          {% endblock nav %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text metadata">
              <span class="now-playing-song-name"></span>
              <br>
              <span class="song-artist"></span>
              <span class="song-album"></span>
            </p>
          </li>

          <li>
            <a class="navbar-brand">
              <div class="album-art album-art-header"></div>
            </a>
          </li>
          <li>
            <a class="glyphicon glyphicon-play play"  onClick="playVideo()"></a>
          </li>
          <li>
            <a class="glyphicon glyphicon-step-forward"  onClick="nextVideo()"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  {% block content %}
  <br><br><br>
  If you see this, you forgot to override content. <br>
  {% endblock content %}





  <footer class="footer">
      <div class="container">
      <p class="text-muted">
    Made with <i class="fa fa-heart"></i> by Eric Z. Chen, Andrew Fischer, &amp; Daniel Zabari, &copy; 2015. Proudly hosted on <a href="http://www.github.com/afischer/vynl" class="fa fa-github-alt fa-lg"></a>.
      </p>
      </div>
  </footer>
</div>


  <script type="text/javascript" src="http://l2.io/ip.js?var=ipAddress"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.2.js"></script>
  <script src="https://fb.me/react-with-addons-0.13.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script src="/static/js/api.js"></script>

  <!-- GAnalytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6208376-6', 'auto');
  ga('send', 'pageview');
  </script>

  <script>
  </script>

  {% block scripts %}
  {% endblock scripts %}


</body>

</html>
