{% extends "base.html" %} {% block content %}
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <!-- SVG -->
            <div id="svg-canvas">
            </div>
            <!-- /SVG -->
        </div>

        <div class="col-xs-3">
            <div class="btn-group-vertical enter-buttons" role="group">
                <a class="btn btn-info" href="/party/{{partyID}}"> Start a Party </a>
                <a class="btn btn-default" href="#"> Join a Party </a>
            </div>

        </div>
    </div>
    <br><br><br><br><br><br><br> <!--FIX THIS-->
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/animation.js"
{% endblock scripts %}
