{% extends "base.html" %} {% block content %}
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <!-- SVG -->
            <div id="svg-canvas">
            </div>
            <!-- /SVG -->
        </div>
       <!-- <div class="col-xs-3">
            <div class="btn-group-vertical enter-buttons" role="group">
                <a class="btn btn-info" href="/party/{{partyID}}"> Start a Party </a>
                <a class="btn btn-default" href="#"> Join a Party </a>
            </div>

        </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
      	<h1>What?</h1>
      	<p>Vynl is an app and a DJ... at the same time. Vynl is a way to crowd source the music selection at a social gathering.</p>
      </div>
      <div class="col-md-4">
		<h1 class="text-center">How?</h1>
		<p>1. Start or join a party.<br>
		2. Add music you want to hear to the playlist.<br>
		3. Give your opinion on other attendee's music choices.<br>
		4. Jam out.</p>
      </div>
      <div class="col-md-4 text-center">
		<h1>Why?</h1>
		<p>DJs are expensive. Let the party's party goers dictate the music they hear.</p>
      </div>
    </div>
    <br><br><br><br><br><br><br> <!--FIX THIS-->
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/animation.js"
{% endblock scripts %}
