{% extends "base.html" %}

{% block nav %}
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
{% endblock nav %}

{% block content %}

<br>
<br>
<br>
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="673195807989-euva4oi2v80e1t6q1g3sig5sohbcgbiq.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log("Name: " + profile.getName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
  };
</script>
<br>
<br>
<br>
{% endblock content %}
