{% extends "base.html" %}

{% block content %}

<!-- Hidden YTPlayer -->
<div id="player"></div>


<div class="container">
    <div class="row" style="padding-top:60px">
        <div class="col-md-9">
            <div class="jumbotron">

                <div class="row">
                    <div class="col-xs-5">
                        <h3>Now Playing</h3>
                        <div class="well">
                            <div class="album-art"></div>
                            <!-- <img src="http://placehold.it/500x500&text=Album+Art" class="img-responsive img-rounded"> -->
                            <div class="music-data">
                            <h4>
                                <font color="#d9230f"> <div class="song-name"></div> </font>
                                <br>
                                <small>
                                    <div class="song-artist"></div>
                                    <br>
                                    <div class="song-album"></div>
                                </small>
                                <br> <br>
                                <a href="#" class="glyphicon glyphicon-step-backward"  onClick="prevVideo()"></a>
                                <a href='#' class="glyphicon glyphicon-play play"  onClick="playVideo()"></a>
                                <a href="#" class="glyphicon glyphicon-step-forward"  onClick="nextVideo()"></a>
                                <br><br>
                                <i class="fa fa-thumbs-up"></i> &nbsp;
                                <i class="fa fa-thumbs-down"></i> &nbsp;
                            </h4>
                        </div>
                    </div>
                </div>

                    <div class="col-xs-7">
                        <h3>Queue</h3>


                        <!-- MUST BE A MVC. DO NOT JUST MAKE A JAVASCIRPT LIST -->
                        <ul class="list-group music-queue">
                            <!-- This where the music goes -->

                            <!-- Begin example list item -->
                            <li class="list-group-item metadata">
                                <img class="album-art img-rounded" src="http://placehold.it/30x30">
                                &nbsp;
                                <span class="song-name">Song Name</span>
                                Song Artist  |  The Album
                            </li>
                            <!-- End example list item. Below are dupes for wireframing -->

                            <li class="list-group-item metadata">
                                <img class="album-art img-rounded" src="http://placehold.it/30x30">
                                &nbsp;
                                <span class="song-name">Song Name</span>
                                Song Artist  |  The Album
                            </li>

                            <li class="list-group-item metadata">
                                <img class="album-art img-rounded" src="http://placehold.it/30x30">
                                &nbsp;
                                <span class="song-name">Song Name</span>
                                Song Artist  |  The Album
                            </li>

                            <li class="list-group-item metadata">
                                <img class="album-art img-rounded" src="http://placehold.it/30x30">
                                &nbsp;
                                <span class="song-name">Song Name</span>
                                Song Artist  |  The Album
                            </li>

                            <li class="list-group-item metadata">
                                <img class="album-art img-rounded" src="http://placehold.it/30x30">
                                &nbsp;
                                <span class="song-name">Song Name</span>
                                Song Artist  |  The Album
                            </li>
                        </ul>

                        <!-- SEARCH -->

                        <input id="search_input" data-toggle="dropdown" type="text" class="form-control" placeholder="YouTubeID" autofocus="autofocus" autocomplete="off" onkeyup="checkTextField();" />
                        <!-- Search results styled as a dropdown menu -->
                        <ul id="search_results" class="dropdown-menu" role="menu">

                    </div>


                </div>


            </div>
        </div>

        <div class="col-md-3">
            <h4> Party ID: {{partyID}}</h4>



        </div>

    </div>

    {% endblock content %}
