    <!--Add a button for the user to click to initiate auth sequence -->
    <script type="text/javascript">

      var apiKey = '';

      var scopes = 'https://www.googleapis.com/auth/plus.me';

	function search(query) {
		var q = query;
		var request = gapi.client.youtube.search.list({
		q: q,
		part: 'snippet'
	});

  request.execute(function(response) {
    var str = JSON.stringify(response.result);
    console.log(str);
  });
}
      function handleClientLoad() {
        // Step 2: Reference the API key
        gapi.client.setApiKey(apiKey);
        gapi.client.load('youtube', 'v3', function() {});
      }

    </script>
    // Step 1: Load JavaScript client library
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
